.myCanvas{
	border: 5px dashed red;
	width: 450px;
	height: 500px;
}

.imagingBox{
	border: 1px solid black;
/*	width:500px;
	height:500px;*/
	/*display: inline-block;*/

}

.addImageFileBtn{
	color:yellow;
	font-size: 2em;
	text-shadow: 3px 3px 1px rgba(100,100,100,0.5)
}
.imagingCanvass{
	border: red 3px dashed;

	/*width: 320px;
	height: 240px;*/
}

.flex_center{
	display: flex;
	justify-content: center;
	align-content: center;
}

.large_text{
	font-size: x-large
}

.underline{
	text-decoration: underline;
}